body {
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    font-family: 'Arial', sans-serif;
}

h2 {
    color: #fff;
    font-weight: bold;
}

form {
    background-color: rgba(255, 255, 255, 0.95);
}

.alert {
    font-size: 1.3rem;
    font-weight: bold;
}
